.story_headline {
	font: bold 20px/24px Helvetica, Sans-serif;
	color:#464646;margin:10px 0px 6px 0px;
}
.story_pubdate, .story_update {
	font: normal 14px/14px "Times New Roman",Georgia,Serif;
	color:#464646;margin:2px 0px 6px 0px;
}

.story_content {
	font: normal 16px/20px Helvetica, Sans-serif;
	color:#464646;margin:2px 0px 25px 0px;padding-bottom:10px;
}
.story_breadCrumbs {
	font: bold 14px/24px Helvetica, Sans-serif;
	color:#9e9e9e;margin:10px 0px 6px 0px;
}
.story_author {
	font: normal 16px/22px Helvetica, Sans-serif;
	color:#464646;margin:10px 0px 6px 0px;font-style:italic;
}

.side_margin {
	margin-left:10px;margin-right:10px;
}

.scroller.full.custom li {
	height:52px;position:relative;background-color:green;
}

.story_title {
	overflow:hidden;text-overflow: ellipsis;white-space: nowrap;
	width:90%;margin-right:30px;
}

.scroller.full.custom li:after {
	position:absolute;top:20px;right:4px;color:#464646;
}


.scroller.custom .list_header {
	color:#FFF;
}

.toolbar.darkdarkblue {
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(#11598C), color-stop(0.03, #154e77), to(#113752));
	background: -moz-linear-gradient(top, #11598C 0%, #154e77 50%, #154e77 51%, #113752 100%); /* FF3.6+ */
}

.toolbar.lightGray {
	background-image: none;background: none;background-color:#ddd;
}
.toolbar.lightGray h1 {
	color:#666;text-shadow: -1px -1px 1px rgba(0,0,0,0.0);
}

.toolbar.movable {
	position:static;
	border: none;
}

/*
height:60px;background-color:red;background:none;
background-image: none;box-shadow: none;
*/

.fakelink {
	text-decoration:underline;
}






/* ---------------- OTHER CSS ---------------- */