.splash {
	position:absolute;background-color:none;width:100%;height:100%;top:0%;
	background-size: contain;background-repeat:no-repeat;background-position:center;
}

/*HOME*/
.story_title {
	font-size:1.1em;
	line-height:1.2em;
	margin-right:1em;
}
.story_time {
	font-size:0.75em;
	font-weight:500;
	line-height:2em;
}
.flag {
	text-indent:-9999px;
	background: url('../assets/dpflag.svg') no-repeat 50%;
	width:100%;
	height:40px;
}

/*FOOTER*/
footer {
	padding:0 1em;
}
img.dfm-logo {
	max-width:100px;
	display:block;
	margin:.5em auto;
}

#story_window > .content {
	background:#fff;
}

/*ARTICLE*/
#story_container {
	padding-top:60px;
}
.story_wrapper {
	padding:0 1.5em;
}
.meta {
	margin-bottom: 1em;
	color:#808080;
	font-size:.75em;
}
.story_author, .story_pubdate, .story_update {
	margin-right: 1em;
}
.main_image {
	width:100;
	margin-bottom: 1em;
}
.main_image img {
	max-width:100%;
}
.story_content {
	margin-bottom:4em;
	/*font-family:Georgia;*/
	line-height:1.8;
	font-weight:400;
}
.story_content p {
	margin-bottom: 1em;
}



.side_margin {
	margin-left:10px;
	margin-right:10px;
}
.scroller.full.custom li {
	height:auto;
	background-color:green;
}







.scroller.full.custom li:after {
	position:absolute;
	top:20px;
	right:4px;
	color:#464646;
}
.scroller.custom .list_header {
	color:#fff;
	font-weight:400;
}
.toolbar.darkdarkblue {
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(#11598C), color-stop(0.03, #154e77), to(#113752));
	background: -moz-linear-gradient(top, #11598C 0%, #154e77 50%, #154e77 51%, #113752 100%); /* FF3.6+ */
}
.toolbar.lightGray {
	background-image:none;
	background: none;
	background-color:#ddd;
}
.toolbar.movable {
	position:fixed;
	top:0;
	margin:0;
	border: none;
}
.fakelink {
	text-decoration:underline;
}


.page-header {
	border-bottom:1px solid #ddd;
	padding-bottom:.3em;
	margin-bottom:0;
}
.link-list > li {
	list-style:none;
	border-bottom:1px solid #ddd;
	padding:.75em 0;
}
#story_related_content {
	margin-bottom:1em;
}

/*BUTTONS*/
.close {
  font-family:Arial;
  font-size:40px;
  line-height:40px;
  font-weight:700;
  text-align:center;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  opacity:0.6;
}
.close:hover,
.close:focus {
  opacity:0.8;
}

.settings {
	background: url(../assets/settings.svg) no-repeat 50%, -moz-linear-gradient(top,  transparent 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: url(../assets/settings.svg) no-repeat 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: url(../assets/settings.svg) no-repeat 50%, -webkit-linear-gradient(top,  transparent 0%,rgba(0,0,0,0.35) 100%)  no-repeat 50%; /* Chrome10+,Safari5.1+ */
	background: url(../assets/settings.svg) no-repeat 50%, linear-gradient(to bottom,  transparent 0%,rgba(0,0,0,0.5) 100%); /* W3C */
}
.settings:hover,
.settings:focus {
	background: url(../assets/settings.svg) no-repeat 50%, rgba(0,0,0,0.5);
}

.share {
	background:url(../assets/share.png) no-repeat 50%, -webkit-linear-gradient(top,  transparent 0%,rgba(0,0,0,0.35) 100%)  no-repeat 50%;
}

.sections {
	background: -moz-linear-gradient(top,  transparent 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  transparent 0%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  transparent 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	padding-top:11px;
}
.sections:hover,
.sections:focus {
	background: rgba(0,0,0,0.5);
}
.icon-bar {
  margin-left:auto;
  margin-right:auto;
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.sections.active {
	background: -moz-linear-gradient(top,  #666 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666 0%,#000 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #666 0%,#000 100%); /* W3C */
	box-shadow: inset 0 1px 15px rgba(0, 0, 0, 1);
}
.sections.active > .icon-bar {
   background-color: #999;

}
.icon-bar + .icon-bar {
  margin-top: 4px;
}

/*BREADCRUMBS*/
.breadcrumb {
  margin:1em;
  list-style: none;
}
.breadcrumb > li {
  display: inline-block;
  font-size: 1em;
  margin: 0 .5em 0 0;
}
.breadcrumb li a {
  display:block;
  text-decoration:none;
  color:#808080;
  background: #ddd;
  padding: 0 .625em 0 1em;
}
.breadcrumb li a:hover,
.breadcrumb li a:focus {
  background: #c4c4c4;
}
.breadcrumb li a:before,
.breadcrumb li.active:before {
  border-left: .5em solid white;
  border-top: .85em solid transparent;
  border-bottom: .85em solid transparent;
  content: "";
  position: absolute;
  left:0;
}
.breadcrumb li a:after {
  border-left: .5em solid #ddd;
  border-top: .85em solid transparent;
  border-bottom: .85em solid transparent;
  content: "";
  position: absolute;
  right: -0.5em;
}
.breadcrumb li a:hover:after {
  border-left-color: #c4c4c4;
}
.breadcrumb li.active {
  padding: 0 .625em 0 1em;
  background-color: #049cdb;
  color: #fff;
}